<div class = "row justify-contentceter">
    <div class= "col-12 header text-center">
        <h1> Beta Mailing List </h1>
    </div>
    <div class= "col-12 header text-center border-shadow">
        <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSfxhqOZFAiCGJG1I0wKkgT2DX9S_hcud9Z10J4ks4Wkaa3XzQ/viewform?embedded=true" width="640" height="433" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
    </div>
</div>