<% provide(:title, "Contact") %>
<div class="contact-us">
<section class="jumbotron jumbotron-fluid" id="jumbotron-contact">
  <div class="container">
    <div class="row justify-content-end">
      <div class="col-12 col-lg-6" >
        <h1 class="homepage-text shadow-underscore jumbo-maintext">CONTACT US</h1>
        <h3 class ="homepage-text pt-3 pb-3 jumbo-subtext">We love hearing from our users! Contact us
          anytime and we will get back to you as soon as possible.</h3>
      </div>
    </div>
  </div>
</section>
<div class="container">
  <div class="row">
    <div class="col-8">
      <div class="form-block">
        <form>
          <div class="text-block pb-3">
            Please fill out the form below with how we can help you today and a support specialist will contact you shorty. Thank you!
          </div>
          <label for="name" class="field-label emphasis">Name</label>
          <input type="text" class="form-control" name="contact_name" placeholder="Enter your Name">
          <label for="email" class="field-label emphasis">Email</label>
          <input type="email" class="form-control" name="contact_email" placeholder="Enter your email">
          <label for="how-did-you-hear" class="field-label emphasis">How did you hear about Markitplace?</label>
          <textarea id="optional-info-how-did-you-hear" name="optional-info-1" maxlength="5000" class="form-control"></textarea>
          <label for="how-can-we-help" class="field-label emphasis">How can we help you?</label>
          <textarea id="optional-how-can-we-help" name="optional-info-2" maxlength="5000" class="form-control"></textarea>
          <button type="submit" class="btn btn-success jumbo-button mt-2">Submit</button>
        </form>
      </div>
    </div>
    <div class="col-4">
      <div class="lets-chat-title">
        Let&apos;s chat.
      </div>
      <div class="lets-chat">
        +1 (207) 767-3433 <br>
        support@markitplace.io
      </div>
      <div class="lets-chat">
        Markitplace Co.<br>
        101 Monmouth Street <br>
        Brookline, MA<br>
        02446
      </div>
    </div>
  </div>
</div>
</div>