<% provide(:title, "Our Team") %>
<div class="our-team">
      <section class="jumbotron jumbotron-fluid" id="jumbotron-team">
        <div class="container">
          <div class="row justify-content-end">
            <div class="col-8 col-lg-6" >
              <h1 class="homepage-text title-mobile shadow-underscore jumbo-maintext">MEET THE TEAM</h1>
              <h3 class ="subtitle-description-mobile homepage-text pt-3 pb-3 jumbo-subtext">We're entrepreneurs passionate about tech, food, and supporting small business. Our
                platform embodies these passions and we're continually striving to improve it.</h3>
            </div>
          </div>
        </div>
      </section>
      <div class = "container">
        <div class="row justify-content-center">
          <div class="col-10 col-lg-5 text-center border-shadow margin-nonmobile-right our-team-descr">
            <span class= "image-overlay">
              <%= image_tag("dan-founder-m2.jpg", class: "img-rounded img-fluid headshot-border hover-green", alt:"founder-and-CTO") %>
              <div class="textOverlay">
                <div class="showTextOurTeam adjust-size founder-description-mobile text-center" style="display: inline-block">
                  <h5 class="founder-description-mobile">Daniel Brett, Co-Founder & CTO</h5>
                  <p class="subtext-about description-text-mobile">
                    Daniel graduated from Boston College in 2018 with a Bachelor's Degree in Computer Science. Before starting Markitplace
                    Daniel worked in Boston as a security engineer for Oracle Corporation. A certified EMT, Daniel has always
                    had an interest in both tech and health and is continually looking to combine them in new and creative ways.
                  </p>
                </div>
              </div>
          </div>
          <div class="col-10 col-lg-5 text-center border-shadow border-shadow margin-nonmobile-left our-team-descr">
            <span class="image-overlay">
              <%= image_tag("bobby-founder-m.jpg", class: "img-rounded img-fluid headshot-border hover-green", alt:"founder-and-CFO") %>
              <div class = "textOverlay">
                <div class= "showTextOurTeam adjust-size founder-description-mobile text-center">
                  <h5 class-"founder-description-mobile">Robert Harrington, Co-Founder & CFO</h5>
                  <p class="subtext-about description-text-mobile">
                    Robert graduated from Boston College in 2018 with a Bachelor's Degree in Economics. Before starting Markitplace he worked as a
                    broker in New York City on the Interest Rate Swap Options Desk. Robert enjoys snowboarding on the weekends and holds himself over 
                    by swimming and playing tennis until first snowfall.
                  </p>
                </div>
              </div>
            </span>
          </div>
        </div>
      </div>
    </div>
