<% provide(:title, "Our Team") %>
<div class="our-team">
      <section class="jumbotron jumbotron-fluid" id="jumbotron-team">
        <div class="container">
          <div class="row justify-content-end">
            <div class="col-12 col-lg-6" >
              <h1 class="homepage-text shadow-underscore jumbo-maintext">MEET THE TEAM</h1>
              <h3 class ="homepage-text pt-3 pb-3 jumbo-subtext">We're entrepreneurs passionate about tech, food and saving money. Our
                platform embodies these passions and we're continually striving to improve it.</h3>
            </div>
          </div>
        </div>
      </section>
      <div class = "container">
        <div class="row justify-content-center">
          <div class="col-3 text-center border-shadow border-shadow mr-3">
            <img src="assets/bobby-founder-m.jpg" class="img-rounded img-fluid headshot-border">
            <h6 class="pt-2">Robert Harrington, Co-Founder</h5>
            <p class="subtext-about">Robert graduated from Boston College in 2018 with a Bachelor's Degree in Economics.
            He currently works as a broker in New York City on the Interest Rate Swap Options Desk.
            Robert enjoys snowboarding on the weekends and holds himself over by swimming and playing tennis until
            first snowfall.</p>
          </div>
          <div class="col-3 text-center border-shadow">
            <img src="assets/danny-founder-m.JPG" class="img-rounded img-fluid headshot-border">
            <h6 class="pt-2">Daniel Brett, Co-Founder</h5>
            <p class="subtext-about">
              Daniel graduated from Boston College in 2018 with a Bachelor's Degree in Computer Science. He
              currently works in Boston as a security engineer for Oracle Corporation. A certified EMT, Daniel has always
              had an interest in both tech and health and is continually looking to combine them in new and creative ways.
            </p>
          </div>
        </div>
      </div>
    </div>
