<% provide(:title, "Services") %>
<div class="partners">
    <section class="jumbotron jumbotron-fluid" id="jumbotron-contact">
    <div class="container">
        <div class="row justify-content-end">
        <div class="col-12 col-lg-6" >
            <h1 class="homepage-text shadow-underscore jumbo-maintext">SERVICES FOR PARTNERS</h1>
            <h3 class ="homepage-text pt-3 pb-3 jumbo-subtext">Markitplace is a platform designed to increase revenue and exposure for non on-demand food delivery companies.
            We help grow our partner&#39;s customer base through our platform and provide insightful analytics on industry
            trends and customer needs</h3>
            <h6> *Please note that we are offering our Services free of charge for the next three months in order to support our partners 
            during this trying period. </h6>
        </div>
        </div>
    </div>
    </section>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-sm-12 col-md-6 align-items-stretch pb-5">
                <h3>Inspiring Growth</h3>
                <p>Markitplace<sup class="shrink">©</sup> offers our partners a fully managed platform where they can advertise their products and reach a larger customer base. Our team also leverages
                search engine optimization and digital marketing campaigns to boost the exposure of our partners.
                </p>
                <%= link_to "LEARN MORE", partner_contact_path, class: "btn btn-outline-success jumbo-button" %>
            </div>
            <div class="col-sm-12 col-md-6 align-items-stretch pb-5">
                <h3>Analytics</h3>
                <p>Monthly Analytics reports will include success of growth campaigns and other key metrics around the performance of the partnership. Our platform
                also actively seeks out user feedback which is condensed and presented to our partners so they can make actionable change.
                </p>
                <%= link_to "LEARN MORE", partner_contact_path, class: "btn btn-outline-success jumbo-button" %>
            </div>
            <div class="col-sm-12 col-md-6">
                <h3>Pricing</h3>
                <p>Clients are not charged anything to have their product posted on our platform, instead clients are charged on a per booking basis every time a meal/subscription
                is purchased through the Markitplace<sup class="shrink">©</sup> platform. For specifics on pricing, please reach out to our support team.
                </p>
                <%= link_to "LEARN MORE", partner_contact_path, class: "btn btn-outline-success jumbo-button" %>
            </div>
            <div class="col-sm-12 col-md-6">
                <h3>Value</h3>
                <p>By helping companies boost their exposure and open up a new revenue stream, Markitplace<sup class="shrink">©</sup> gives clients more time to focus on what makes them great. 
                With Markitplace<sup class="shrink">©</sup> you can continue to maintain and build upon the same great brand your customers love. 
                </p>
                <%= link_to "LEARN MORE", partner_contact_path, class: "btn btn-outline-success jumbo-button" %>
            </div>
        </div>
    </div>
</div>