<% provide(:title, "Services") %>
<div class="partners">
    <section class="jumbotron jumbotron-fluid" id="jumbotron-contact">
    <div class="container">
        <div class="row justify-content-end">
        <div class="col-6 col-lg-6" >
            <h1 class="homepage-text shadow-underscore jumbo-maintext title-mobile">APPLY TO BECOME A CHEF</h1>
            <h3 class ="d-none d-lg-block homepage-text pt-3 pb-3 jumbo-subtext subtitle-description-mobile">Markitplace is a platform designed to help chefs. For chefs that are new to operating their own business, we walk you through all steps to get you started. For existing chefs we help grow your customer base through our platform and provide insightful analytics on industry trends and customer needs. </h3>
            <h6 class="subtitle-description-mobile"> *Please note that we are offering our services free of charge for the forseeable future to support our partners
            during this difficult time. </h6>
        </div>
        </div>
    </div>
    </section>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-6 align-items-stretch pb-5">
                <h3 class="service-offering-mobile">Kitchen Space</h3>
                <p class="service-offering-text-mobile">Have a great idea or product, but not quite sure where to make it? We’ll help you secure a spot to make your business thrive.
                </p>
            </div>
            <div class="col-12 col-lg-6 pb-5">
                <h3 class="service-offering-mobile">Higher Earnings Potential</h3>
                <p class="service-offering-text-mobile">You make the food, you make the profit. Markitplace enables chefs to own, operate, and sell their own takeaway or delivery brand.
                </p>
            </div>
            <div class="col-12 col-lg-6 align-items-stretch pb-5">
                <h3 class="service-offering-mobile">Analytics</h3>
                <p class="service-offering-text-mobile">Monthly Analytics reports will include success of growth campaigns and other key metrics around the performance of the partnership. Our platform
                also actively seeks out user feedback which is condensed and presented to our partners so they can make actionable change.
                </p>
            </div>
            <div class="col-12 col-lg-6 pb-5">
                <h3 class="service-offering-mobile">Logistics Made Easier</h3>
                <p class="service-offering-text-mobile">Markitplace provides a booking platform for your customers, order management features, and analytics on your products. You focus on the food, we’ll focus on everything else. 
                </p>
            </div>
            <div class = "col-12 text-center">
                <%= link_to "APPLY NOW", partner_contact_path, class: "btn btn-outline-success jumbo-button btn-mobile" %>
            </div>
        </div>
    </div>
</div>