<% provide(:title, "Start Your Mealkit Program") %>
<div class="plan-homepage">
    <div class="plan-homepage-2019">
        <section class="jumbotron jumbotron-fluid" id="jumbotron-contact">
            <div class="container">
                <div class="row justify-content-end">
                    <div class="col-6 col-lg-6">
                    <h1 class="homepage-text shadow-underscore jumbo-maintext title-mobile">START YOUR OWN MEALKIT PROGRAM</h1>
                    <h3 class ="homepage-text pt-3 pb-3 jumbo-subtext subtitle-description-mobile">Leverage the resources below to help you jump-start your mealkit program today</h3>
                    </div>
                </div>
            </div>
        </section>
        <div class="container" id="plan-offerings">
            <div class="row ml-3">
                <div class = "col-12">
                    <h3 class= "subtitle-mobile">Overview of Mealkits</h3>
                    <p class = "subtitle-description-mobile">Meal Kits have been widley commercialized
                    since 2007 and the food industry has experienced significant disruption as 
                    a result. The term &apos;Meal Kit&apos; has a number of different meanings, but typically
                    relates to one of the following three categories: </p>
                    <ul>
                        <li>Cook & Eat- this correlates to the traditional definition of a mealkit where
                        customers receive ingredients and recipe instructions. These types of packages are 
                        typically designed for customers that like to cook within the comfort of their own
                        home and don&apos;t mind taking the time to cook the meal themselves. Blue Apron
                        has been extremely sucessful the past couple of years operating within this model.</li>
                        <li>Heat & Eat- while some consumers love the cooking process, there are plenty
                        who want to simply throw their meal in the oven or the microwave and have it ready 
                        in a few minutes. ith this offering, restaurants often deliver multple prepackaged
                        meals that consumers can make with minimal hassle</li>
                        <li>Ready to Eat- some consumers want their meal kit ready to go as soon as the 
                        restaurant delivers. This is perfect if you imagne your customers taking your offering
                        on a picnic or having a dinner party with friends and family</li>
                    </ul>
                </div>
                <div class = "col-12">
                    <h3 class= "subtitle-mobile">What are the benefits of a Meal Kit Program?</h3>
                    <p class = "subtitle-description-mobile">Starting your own meal kit program has
                    a number of benefits: </p>
                    <ul>
                        <li>Let your regulars get their fix​ - ​consumers want meals from their favorite restaurants 
                        in  the comfort of their home, but can’t always get to the restaurant or more recently are  
                        facing limited capacity or other concerns about eating out. </li>
                        <li> Less Costly than other delivery options​ - ​As opposed to on-demand delivery scheduled  
                        delivery gives you greater flexibility. With scheduled delivery you don’t need to pay/hire  
                        staff solely for delivery, instead having them complete deliveries once or twice a week.  
                        This also gives you greater flexibility to circumvent large fees from delivery services like 
                        UberEats or Postmates. </li>
                        <li> Increase your Square Footage​ - ​3 hour wait on a Friday night? No problem. With the
                        scheduled nature of meal kits customers are able to enjoy the experience of your  
                        restaurant in their home. You can prepare these kits and send them out before you get 
                        busy thereby increasing the amount of customers that are able to enjoy your food at once. </li>
                        <li> Bring in new customers​ -​ If customers love your meal kits, they will for sure love your 
                        restaurant. Meal Kits are a great way to introduce your food to who will become your  new loyal 
                        regulars.  </li>
                        <li>Recurring revenu​e​ -​ Some consumers prefer to subscribe to meal kit programs. With customers 
                        getting meals every week or month from you this brings in a great second  stream of recurring 
                        revenue.</li>
                    </ul>
                </div>
            
            <div>
        </div>
    </div>
</div>