<div class="pt-3 container justify-content-center terms-page">
    <h1 class="text-align-center"> TERMS OF SERVICE <h1>
    <iframe class="terms-of-service" src="https://drive.google.com/file/d/1A_PnAk5uBRNrAYtz7_HR-nEemC6WOdV8/preview" width="640" height="480"></iframe>
</div>