<div class="container">
    <iframe class="terms-of-service" src="https://docs.google.com/document/d/e/2PACX-1vSI9a6h7kgOl_WbioCN-tBHbrZQT6pqyUrwKi-AzrO9cIvd6g3wawu149pkz3--zOV-jG_HJyOo0OwT/pub?embedded=true"></iframe>
</div>