<% provide(:title, 'New Partner Logo') %>
<div class='container'>
  <div class="row topspace-lg justify-content-center">
    <div class= "col-12">
      <h1 style = "text-align:center">New Partner Logo</h1>
    </div>
    <div class="card col-md-6 col-md-offset-3">
      <div class="card-body placeholder">
        <%= render 'partner_logo_form' %>
      </div>
    </div>
  </div>
</div>