<% provide(:title, 'Edit Partner Information') %>

<div class='container'>
  <div class="row topspace-lg justify-content-center">
    <div class= "col-12">
      <h1 style = "text-align:center">Edit Partner Info</h1>
    </div>
    <div class="card col-md-6 col-md-offset-3">
      <div class="card-body placeholder">
        <%= render 'partner_information_form', partner_information: @partner_information %>
      </div>
    </div>
  </div>
</div>
      