<%= link_to image_tag("markitplace-shades-rectangle.png", id:"nameBrand"), "https://www.markitplace.io", class: "navbar-brand"  %>


<p>Hi Daniel Brett, thank you for your purchase. This email will serve as a receipt
& confirmation for your order for the following item(s): </p><br>

<p>Should you have any questions please use our contact page and a support
specialist will get in touch with you shortly.</p>