<% provide(:title, "Sign Up") %>
<div class='container'>
  <div class="row topspace-lg justify-content-center">
    <div class= "col-12">
      <h1 style = "text-align:center">Sign up</h1>
    </div>
    <div class="card col-md-6 col-md-offset-3">
      <div class="card-body placeholder">
        <div class= "form-block">
        <p class="subtext-gray pb-1" style="font-size:14px">Please choose the appropriate
        response for user signup. Which of the two are you looking to do? </p><br>
        <%= link_to "Purchase Meal Kits", signup_path, class: "btn btn-outline-success" %>
        <%= link_to "Partner with Markitplace","https://connect.stripe.com/oauth/authorize?response_type=code&client_id=ca_FX0EKPNDzWlcxcjjUNnxNAhUa0cjuVBI&scope=read_write", class: "btn btn-outline-success" %>
        </div>
      </div>
    </div>
   </div>
</div>