<% provide(:title, "Business or Customer") %>
<div class='container'>
  <div class="row topspace-lg justify-content-center">
    <div class= "col-12">
      <h1 style = "text-align:center">Sign up</h1>
    </div>
    <div class="card col-md-6 col-md-offset-3">
      <div class="card-body placeholder">
        <div class= "form-block"
            <%=form_for(:business_or_customer, url: signup_info_path) do |f| %>   
                <p class="subtext-gray pb-1" style="font-size:14px">Please choose the appropriate
                response from the dropdown </p><br>
                <%= f.select(:business_or_customer_select, ["Purchase Meal Kits", "Leverage Markitplace for my Business"], { :class => 'dropdown-style' })%> <br>
                <%= f.submit "Next", class: "btn btn-success jumbo-button mt-2" %>
            <% end %>
        </div>
      </div>
    </div>
   </div>
</div>