<div class="product-homepage">
    <div class="product-homepage-2019">
        <section class="jumbotron jumbotron-fluid" id='jumbotron-products'>
          <div class="container">
            <div class="row justify-content-end">
              <div class="col-12 col-lg-5 justify-content-end" id="jumbo-textbox">
                <h1 class="homepage-text shadow-underscore jumbo-maintext">ACTIVE SUBSCRIPTIONS</h1>
                <h3 class ="homepage-text pt-3 pb-3" id ="jumbo-subtext">See what meal plans you are currently subscribed to
                below.</h3>
              </div>
            </div>
          </div>
        </section>
        <div class = "subscriptions-grid mr-3">
            <%= render @plan_library, plan_type: @plan_type %>
        </div>
    </div>
</div>
