<div class="product-homepage">
    <div class="product-homepage-2019">
        <section class="jumbotron jumbotron-fluid" id='jumbotron-products'>
          <div class="container">
            <div class="row justify-content-end">
              <div class="col-12 col-lg-5 justify-content-end" id="jumbo-textbox">
                <h1 class="homepage-text shadow-underscore jumbo-maintext">THE RIGHT MEAL KIT AT THE BEST AVAILABLE PRICE</h1>
                <h3 class ="homepage-text pt-3 pb-3" id ="jumbo-subtext">Check out our offerings, who we partner with, and other relevant information
                below.</h3>
              </div>
            </div>
          </div>
        </section>
        <%= render @plan_library, plan_type: @plan_type %>
    </div>
</div>
