html {
  scroll-behavior: smooth;
}

.form-control:hover, .form-control:active, .form-control:focus{
  box-shadow: none !important;
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
}


.form-control:focus{
  border: 1px solid #5cb85c;
}

input[type=checkbox]
{
  /* Double-sized Checkboxes */
  -ms-transform: scale(1); /* IE */
  -moz-transform: scale(1); /* FF */
  -webkit-transform: scale(1); /* Safari and Chrome */
  -o-transform: scale(1); /* Opera */
  transform: scale(1);
}

/* Might want to wrap a span around your checkbox text */
.checkboxtext
{
  /* Checkbox text */
  display: inline;
}

.dropdown-style{
  appearance: none;
}

.btn-sizing{
  -moz-box-sizing: content-box; /* or `border-box` */
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}


/* NAVBAR INFO */
.pad-left{
    padding-left: 10px;
}

.nav-link:hover {
  color:green !important;
  transition: 0.5s;
}

.adjust-size{
  font-size-adjust: 0.5 !important;
}
.navbar {
    -webkit-box-shadow: 0 8px 6px -6px #999;
    -moz-box-shadow: 0 8px 6px -6px #999;
    box-shadow: 0 8px 6px -6px #999;
    background: white;
    z-index: 9999;
}

.hide-page{
  display: none;
}

/* .navbar-brand{
  background-color: #579229;
}
.navbar-light .navbar-brand {
  color: white;
} */

.btn-outline-success.navButtons{
  font-size: 12px;
  font-weight: bold;
  border-width: 2px;
  border-radius: 0;
  letter-spacing: 1.5px;
}

.btn-outline-success.jumbo-button, .btn-success.jumbo-button {
  font-size: 20px;
  font-weight: bold;
  border-width: 2px;
  border-radius: 0;
  letter-spacing: 1.5px;
}


.nav-link {
  font-weight: bold;
  font-size: 14px;
  letter-spacing: 1.5px;
  margin-right: 7px;
}

/* GET RID OF REALLY ANNOYING OUTLINE AROUND LINKS */
.dropdown-item:active {
  background-color:white;
}

.dropdown-item{
  font-weight: bold;
  font-size: 14px;
  letter-spacing: 1.5px;
}

#black-color{
    color:black;
}

li:hover {
  outline: none !important;
  box-shadow: none;
}

.dropdown-menu>li>.nav-color{
  font-weight: bold;
  font-size: 14px;
  letter-spacing: 1.5px;
  color: green;
}

/*Work on this for outlining the dropdown */
#business_or_customer_business_or_customer_select option{
  border: 1px solid black;
}
#nameBrand {
  width: 100%;
  height: 100%;
  padding-right: 0px;
}
#mainNavbar > a:nth-child(1){
  margin-right: 0px;
  padding-right: 0px;
  width: 50px;
}


/* ***************** */
/* ****HOME PAGE**** */
/* ***************** */
.shadow-underscore{
  /* text-shadow: 1px 1px 1px #999; */
}

.description-text-food-mobile{
  color: black;
}


.subtext-gray{
  color: #8c8c8c
}

#jumbo-textbox{
  display: block;
}

.jumbo-maintext{
  font-size:35px;
  font-weight: 3.0px;
}
.jumbo-subtext{
  font-size: 20px;
  font-weight: 1.5px;
}

/* #jumbotron-food{
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
} */



#our-process{
  padding-left: 10%;
  padding-right: 10%;
}

#outline{
  -webkit-text-stroke: 1px black;
}

.box-opaque{
  -webkit-filter: grayscale(100%) !important;
  filter: grayscale(100%) !important;
}

/* ***************** */
/* ****OUR TEAM**** */
/* ***************** */

.margin-nonmobile-right{
  margin-right: 20px;
}
.margin-nonmobile-left{
  margin-left: 20px;
}

.text-overlay{
  color: #449900;
  font-size: 80px;
  text-align: center;
  /* -webkit-text-stroke: 1px white; */
}

.img-rounded{
  border-radius: 50%;
}

.border-shadow{
  box-shadow: 0 0 8px #999;
}

.subtext-about{
  font-size: 12px;
}

.headshot-border{
  border: 1px solid #449900;
}

/* ***************** */
/* CONTACT US PAGE */
/* ***************** */
.form-block{
  margin-left: 10%;
  margin-right: 10%;
}


.lets-chat-title{
  font-size: 30px;
  font-weight: 400;
  padding-bottom: 10px;
}

.lets-chat{
  color: #595959;
  font-size:18px;
  font-weight: 100;
  padding-bottom: 10px;
}

.emphasis{
  font-weight: bold;
  /* letter-spacing: 1.5px; */
}

.shrink{
  font-size: 75%;
}

/* USER CSS */
.signup-text{
  font-size:14px;
}

/* ***************** */
/* ****Products Page */
/* ***************** */

.textOverlay {
  opacity: 0;
}

#overwrite-card-text{
  font-size: 12px;
}

.see-cooking:hover .textOverlay{
  opacity: 1;
  transition: .5s ease;
}

.see-cooking:hover .hover-gray{
  -webkit-filter: brightness(20%);
  filter: brightness(20%);
    /* width:100%;
    height:100%; */
    /* position:absolute;
    background-color:#000;
    opacity:0.5; */
    /* border-radius:30px; */
}

.w-33{
  width: 33%;
}

/* Need to be careful here with important of overwriting values */
.container-fluid{
  width: 95% !important;
}

.header-img{
  padding: 0.5em 0.5em 0 0.5em !important;
}

/* 
TOP WAS 33% */
.showText{
  color: white;
  font-size: 20px;
  position: absolute;
  top: 30%; 
  left: 50%;
  transform: translate(-50%, -30%);
  text-align: center;
}

.showTextIndex{
  color: white;
  font-size: 20px;
  position: absolute;
  top: 17%; 
  left: 50%;
  transform: translate(-50%, -17%);
  text-align: center;
}

.showText:hover{
  -webkit-filter: inherit;
  filter: inherit;
}

.see-cooking{
  position: relative;
}

/* CSS FOR RIBBON ON VARIOUS CARDS */
.ribbon-wrapper {
  width: 85px;
  height: 88px;
  overflow: hidden;
  position: absolute;
  top: -3px;
  right: -3px;
  z-index: 1020;
}
.ribbon {
  font-size: 12px;
  color: #FFF;
  text-transform: uppercase;
  font-family: 'Montserrat Bold', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  letter-spacing: .05em;
  line-height: 15px;
  text-align: center;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, .4);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  position: relative;
  padding: 7px 0;
  right: -11px;
  top: 10px;
  width: 100px;
  height: 28px;
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, .3);
  box-shadow: 0 0 3px rgba(0, 0, 0, .3);
  background-color: #dedede;
  background-image: -webkit-linear-gradient(top, #ffffff 45%, #dedede 100%);
  background-image: -o-linear-gradient(top, #ffffff 45%, #dedede 100%);
  background-image: linear-gradient(to bottom, #ffffff 45%, #dedede 100%);
  background-repeat: repeat-x;
  z-index: 1020;
}

.ribbon:before,
.ribbon:after {
  content: "";
  border-top: 3px solid #9e9e9e;
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;
  position: absolute;
  bottom: -3px;
  z-index: 1020;
}

.ribbon:before {
  left: 0
}

.ribbon:after {
  right: 0
}

.ribbon.green {
  background-color: #2da285;
  background-image: -webkit-linear-gradient(top, #2da285 45%, #227a64 100%);
  background-image: -o-linear-gradient(top, #2da285 45%, #227a64 100%);
  background-image: linear-gradient(to bottom, #2da285 45%, #227a64 100%);
  background-repeat: repeat-x;
  z-index: 1020;
}

.ribbon.green:before,
.ribbon.green:after {
  border-top: 3px solid #113e33
}

/* ***************** */
/* ****FOOTERS**** */
/* ***************** */
.fa-facebook-square{
  color: black;
}

.fa-twitter-square{
  color:black;
}

.fa-instagram{
  color: black;
  size: 2.0em;
}

/* GET RID OF ANNOYING OUTLINES */
.btn:focus,.btn:active {
   outline: none !important;
   box-shadow: none;
}

/* SHOW PAGE */


.recipe-overview{
  -moz-box-shadow: 0 0 8px #ccc;
  -webkit-box-shadow: 0 0 8px #ccc;
  box-shadow: 0 0 8px #ccc;
  width: 66%;
}

.stats-item{
  font-size: 25px;
  color: #449900;
}

.stats-subitem{
  font-size: 16px;
}

.description-text{
  font-size: 12px;
}


/* ACTIVE SUBSCRIPTIONS PAGE */

.subscriptions-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  grid-gap: 20px;
}

/* TERMS OF SERVICE */

.termspage{
  text-align: center;
}

iframe.terms-of-service
{
  width: 100%;
  height: 65vh;
  margin: 0 auto;
  text-align: center;

  border: none;
  box-shadow: 0 0 25px rgba(0, 0, 0, .1);
}

/* MOBILE COMPATABILITY SECTION - May Need to Refactor Later On. Want as flexible as possible */
/* IN FUTURE TRY TO AVOID !IMPORTANT. Not good practice */
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) {
  h3{
    font-size: 40px;
  }
  .jumbo-header-mobile{
    font-size: 60px;
  }
  .description-text-mobile{
    font-size: 30px;
  }
  .description-text-food-mobile{
    font-size: 35px;
    color: #006400 !important;
  }
  .mobile-hidden{
    display:none;
  }
  .btn-mobile{
    font-size: 40px !important;
  }
  .title-mobile{
    font-size: 50px;
  }
  .title-larger-mobile{
    font-size: 70px;
  }
  .subtitle-description-mobile{
    font-size: 30px;
  }
  .jumbotron-mobile{
    height: 70vh !important;
  }
  .nav-item.nav-text-mobile{
    font-size: 40px;
  }
  .nav-link.nav-text-mobile{
    font-size: 40px;
  }
  .nav-collpase-mobile{
    font-size: 50px;
  }
  .founder-description-mobile{
    font-size:35px;
  }
  .margin-nonmobile-right{
    margin-right: 0px;
    margin-left: 0px;
  }
  .margin-nonmobile-left{
    margin-right: 0px;
    margin-left: 0px;
  }
  .service-offering-mobile{
    font-size: 60px;
  }
  .service-offering-text-mobile, .contact-form-item-mobile{
    font-size: 40px;
  }
  #nameBrand{
    height:85px;
    width: 100px;
  }
  .form-control-mobile{
    height: 70px;
  }
  .text-area-mobile{
    height: 100px;
  }
  .form-control-mobile, .text-area-mobile{
    font-size: 35px;
  }
  .checkbox-item-mobile{
    font-size: 30px;
  }
  .checkbox-mobile{
    height: 30px;
    width: 30px;
  }
}