<div class="container-fluid">
    <div class="row justify-content-center d-flex" style="padding-bottom:5px; padding-top:10px;">
        <div class = "col-6 text-center my-auto">
            <a href="https://twitter.com/markitplaceco" target="_blank" class="btn btn-lg btn-mobile" style:"color:black"><i class="fab fa-twitter-square fa-lg"></i></a>
            <a href="https://www.instagram.com/markitplaceco/" target="_blank" class="btn btn-lg btn-mobile"><i class="fab fa-instagram fa-lg"></i></a>
            <a href="https://www.facebook.com/markitplaceco/" target="_blank" class="btn btn-lg btn-mobile"><i class="fab fa-facebook-square fa-lg"></i></a>
            <a href="https://www.linkedin.com/company/54151396/" target="blank" class="btn btn-lg btn-mobile"><i class="fab fa-linkedin fa-lg"></i></a>
            <div class="footer-copyright text-center py-3 description-text-mobile">
                Copyright ©2020 Markitplace Corporation
            </div>
        </div> 
        <div class = "col-6 text-center my-auto">
            <%= link_to "Terms of Service", terms_of_service_path, class: "black-text black-text-mobile description-text-mobile" %>
            <br>
            <br>
            <%= link_to "Privacy Policy", privacy_policy_path, class: "black-text black-text-mobile description-text-mobile" %>
        </div>
    </div>
</div>
